.btn-purple{
  background-color: #D4A9FF;
  color: #fff;
}

.btn-purple-two{
  background-color: #6f42c1;
  color: #fff;
}

.showCursor{
  cursor: pointer;
}

td{
  text-align: center;
}

tr{
  text-align: center;
}

.card{
  margin: 40px 0px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}