<nav class="navbar navbar-expand-lg navbar-light shadow Kanit">
  <div class="container d-flex justify-content-between align-items-center">
    
    <!-- Member Navbar -->
    <ng-container *ngIf="role && role === 'Member'">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="first" class="navbar-brand text-success logo h1 align-self-center">
        <div class="logo-image">
          <img src="assets/img/new-white-logo.png" width="38" height="36" alt="g3-logo">
        </div>
      </a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a routerLink="electronics" routerLinkActive="active" class="nav-link">Electronics</a>
          </li>
          <li class="nav-item">
            <a routerLink="wears" routerLinkActive="active" class="nav-link">Wears</a>
          </li>
          <li class="nav-item">
            <a routerLink="furnitures" routerLinkActive="active" class="nav-link">Furnitures</a>
          </li>
          <li class="nav-item">
            <a routerLink="food" routerLinkActive="active" class="nav-link">Food</a>
          </li>

        </ul>
      </div>
    </ng-container>

    <!-- Admin Navbar -->
    <ng-container *ngIf="role && role === 'Admin'">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="admin/add-product" class="navbar-brand text-success logo h1 align-self-center">
        <div class="logo-image">
          <img src="assets/img/new-white-logo.png" width="38" height="36" alt="g3-logo">
        </div>
      </a>

      <div *ngIf="role && role === 'Admin'" class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a routerLink="admin/add-product" routerLinkActive="active" class="nav-link">Add Product</a>
          </li>
          <li class="nav-item">
            <a routerLink="admin/show-products" routerLinkActive="active" class="nav-link">Show Products</a>
          </li>
          <li class="nav-item">
            <a routerLink="admin/manage-users" routerLinkActive="active" class="nav-link">Manage Users</a>
          </li>
          <li class="nav-item">
            <a routerLink="admin/order-history-admin" routerLinkActive="active" class="nav-link">Order History</a>
          </li>
        </ul>
      </div>
    </ng-container>

    <div>
      <a *ngIf="token && role==='Member'" routerLink="cart" class="btn btn-outline-light">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
        <span class="badge badge-info">{{totalCartItem}}</span>
      </a>
      &nbsp;
      
      
      <div class="btn-group">
       <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user?.username ?? ''}}
       </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="sidebar"> My Account</a></li>
          <!-- <li><a class="dropdown-item" routerLink="sidebar"> My Purchase</a></li> -->
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" *ngIf="token" (click)="logout()" >Log out</a></li>
        </ul>
      </div>
    </div> 
  </div>

</nav>
