<div class="container px-4 py-5 mx-auto">

  <app-user-address [user]="user" (userAddressEvent)="receiveUserAddress($event)"></app-user-address>

  <app-shopping-bag 
    [cart]="cart" 
    (shippingEvent)="receiveShippingOption($event)" 
    (commentEvent)="receiveComment($event)"
  ></app-shopping-bag>

  <app-payment-method
    [cartTotalPrice]="getCartTotalPrice()"
    [shippingPrice]="shipping.price"
    (paymentSubmitEvent)="submit()"
    (paymentInfoEvent)="receivePaymentInfo($event)"
  ></app-payment-method>

</div>