<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 pt-5">
        <h2 class="h2 pur border-bottom pb-3 border-light logo">G3 Shopping</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            Computer Engineering , SUT
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i> 033-333-3333
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i> G3@g.sut.ac.th
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none pur" routerLink="electronics">Electronics</a></li>
          <li><a class="text-decoration-none pur" routerLink="wears">Wears</a></li>
          <li><a class="text-decoration-none pur" routerLink="furnitures">Furnitures</a></li>
          <li><a class="text-decoration-none pur" routerLink="food">Food</a></li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none pur" routerLink="first">Home</a></li>
          <li><a class="text-decoration-none pur" href="https://www.google.com/maps/@14.8729325,102.0175183,15z">Shop Locations</a></li>
          <!-- <li><a class="text-decoration-none" href="#">FAQs</a></li>
          <li><a class="text-decoration-none" href="#">Contact</a></li> -->
        </ul>
      </div>

    </div>
  </div>

  <div class="w-100 bg-black py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
          <p class="text-left text-light">
            Copyright &copy; 2021 G3 Company
            | Designed by Group 3 :
            <li class="pur"><a class="text-decoration-none pur" href="https://www.facebook.com/Bos.Chalermkiet">B6214562 Chalermkiet Kongkapan</a></li>
            <li class="pur"><a class="text-decoration-none pur" href="https://www.facebook.com/f.wanatthapong">B6220709 Wanatthapong Wongbuthong</a></li>
            <li class="pur"><a class="text-decoration-none pur" href="https://www.facebook.com/chawaratnarit">B6220730 Chawarat Narit</a></li>
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>