
  <div class="flex-shrink-0 p-3 bg-purple" style="width: 280px;">
   
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          <img src="assets/img/user.png" height="15"> &nbsp; &nbsp;My Account
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small Kanit">
            <li><a routerLink="#" class="link-dark rounded">Profile</a></li>
            <li><a routerLink="#" class="link-dark rounded">Banks & Cards</a></li>
            <li><a routerLink="#" class="link-dark rounded">Addresses</a></li>
            <li><a routerLink="#" class="link-dark rounded">Change Password</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-t align-items-center rounded collapsed" aria-expanded="false">
            <img src="assets/img/document.png" height="15"> &nbsp; &nbsp;My Purchase
        </button>
      </li>
      <li class="border-top my-3" style="background-color: black"></li>
      <li class="mb-1">
        <button class="btn btn-t align-items-center rounded collapsed"  aria-expanded="false" style="color:red">
            <img src="assets/img/logout.png" height="15"> &nbsp; &nbsp;Log out
        </button>
      </li>
    </ul>
  </div>