<div class="container-fluid Kanit" style="margin-top:30px">
    <div class="row">
      <div class="col-md-12">
        <!-- <h2>Products</h2> -->
        <div id="photo" >
          <img style="vertical-align:middle" src="assets/img/purple-logo.png" alt="" width="50px">
          <span class="h2" style="vertical-align:middle; color:blueviolet"> G3 Shopping </span>
          <span class="h1" style="vertical-align:middle; color:blueviolet">|</span>
          <span class="h2" style="vertical-align:middle"> Manage Users </span>
        </div>
        <div class="table-responsive-md card">
          <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
              <tr>
                <th>ID.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Picture</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users; index as i">
                <td scope="row" >{{item._id}}</td>
                <td >{{item.username}}</td>
                <td >{{item.email}}</td>
                <td ><img [src]="item.userInfo.picture" style="height:150px;"></td>
                <td >
                    <i class="fa fa-trash showCursor fa-lg" (click)="deleteUser(item._id)" style="color:red"></i>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  