<div class="container-fluid Kanit" style="margin-top:30px">
  <div class="row">
    <div class="col-md-12">
      <!-- <h2>Products</h2> -->
      <div id="photo" >
        <img style="vertical-align:middle" src="assets/img/purple-logo.png" alt="" width="50px">
        <span class="h2" style="vertical-align:middle; color:blueviolet"> G3 Shopping </span>
        <span class="h1" style="vertical-align:middle; color:blueviolet">|</span>
        <span class="h2" style="vertical-align:middle"> Order History </span>
      </div>

          <div class="col-lg-12 card ">
            <div class="row d-flex ">
              <div class="col-md-12 d-flex" style="color:blueviolet">
                <div class="col-sm-5">
                  <h4 >Order ID</h4>
                </div>
                <div class="col-sm-5">
                  <h4 >Date Time</h4>
                </div>
              </div>
                <!-- <div class="row text-left " >
                  
                 
                </div> -->
             
            </div>
            <div class="row d-flex justify-content-end border-top " *ngFor="let item of orders; index as i">
              <div class="col-lg-12 d-flex ">
                <div class="col-md-5">
                  <p style="color:#6f42c1">{{item._id}}</p>
                </div>
                <div class="col-md-5">
                  <!-- <div class="row d-flex justify-content-end "> -->
                    <p>{{item.orderTime}}</p>
                  <!-- </div> -->
                </div>
              </div>
                 
                  
                  <div class="col-md-12 row-md-2 mt-3 d-flex justify-content-between border py-3 px-3" style="background-color: #c18fff06; border-radius: 20px;" *ngFor="let sub of orders[i].carts">
                    <p><img [src]="sub.product.img" class="book-img"></p>
                    <p style="color: #D1ADFF">{{sub.product.name}} (x{{sub.quantity}}) → {{sub.product.price}} ฿ </p>
              
                  </div>
                  <!-- <div class="card-body col-md-3">
                   <div class="col-12 mt3 d-flex justify-content-end">
                    <span class="p" style="color: black"> Total Price : &nbsp;</span>
                    <span class="p" style="color:#6f42c1"> {{item.totalPrice-item.shipping.price}} ฿</span>
                    </div>
                    <div class="col-12 mt3 d-flex justify-content-end">
                      <span class="p" style="color: black"> Shipping : &nbsp;</span>
                      <span class="p" style="color:#6f42c1"> {{item.shipping.price}} ฿</span>
                      </div>
                      <div class="col-12 mt3 d-flex justify-content-end">
                        <span class="p" style="color: black"> Total (tax included) : &nbsp;</span>
                        <span class="p" style="color:#6f42c1"> {{item.totalPrice}} ฿</span>
                        </div>
                  </div> -->

                  <div class="d-flex justify-content-end col-lg-12 mx-auto my-4">
                    <div class="col-md-4">
                    <div class="d-flex justify-content-between px-4">
                      <p class="mb-1 text-left">Subtotal</p>
                      <h6 class="mb-1 text-right">฿{{item.totalPrice-item.shipping.price}}</h6>
                    </div>
                    <div class="d-flex justify-content-between px-4">
                      <p class="mb-1 text-left">Shipping</p>
                      <h6 class="mb-1 text-right">฿{{item.shipping.price}}</h6>
                    </div>
                    <div class="row d-flex justify-content-center px-4 pt-3">
                      <hr>
                    </div>
              
                    <div class="d-flex justify-content-between px-4">
                      <p class="mb-1 text-left" style="color:#6f42c1">Total</p>
                      <h6 class="mb-1 text-right" style="color:#6f42c1">฿{{item.totalPrice}}</h6>
                    </div>
        
                  </div>
               
            </div>
          </div>
        
    
        </div>
      </div>
    </div>


